.container{
  width: min(100%, 1440px);
  margin: auto;
}
/* header */
header{
  /* background-color: chartreuse; */
  padding: 6px 130px;
  display: flex;
  justify-content: space-between;
}
.burger{
  display: none;
}
.headerLeftSide{
  font-family: Pridi;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;
  color: #FA793C;
  display: flex;
  column-gap: 14px;
  align-items: center;
}
.headerRightSide{
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.headerRightSideUl{
  display: flex;
  column-gap: 32px;
}
.headerRightSideA{
  font-family: ABeeZee;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
/* section1 */
.section1{
  height: 550px;
  background-image: url("../images/section1_cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 130px;
  row-gap: 20px;
}
h2{
  font-family: Kanit;
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
}
.section1_text{
  font-family: Kanit;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
/* section2 */
.section2{
  /* background-color: chartreuse; */
  width: calc(1180 / 1440 * 100%);
  margin: 130px auto;
}
h3{
  font-family: Kanit;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
  margin-bottom: 34px;
}
.section2_cards_container{
  /* background-color: cadetblue; */
  display: flex;
  column-gap: 20px;
}
.section2_cards_container_card{
  border: 1px solid #000000;
}
.section2_cards_container_card img{
  width: 100%;
  height: 189px;
  object-fit: cover;
}
h4{
  font-family: Kanit;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #000000;
  margin: 16px 16px 8px;
}
.section2_cards_container_card p{
  font-family: Kanit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin: 0 16px 16px;
}